<header class="bg-header-dark text-white shadow-lg">
    <nav class="container mx-auto px-4 py-6">
        <div class="flex justify-between items-center">
            <div>
                <a href="{{ site.url }}" class="hover:opacity-80 transition-opacity">
                    <img src="{{ site.theme.uri }}/public/img/PauperDuelCommander.png" alt="{{ site.name }}" class="h-12">
                </a>
            </div>

            {% if menu %}
                <div class="hidden md:block">
                    <ul class="flex space-x-6">
                        {% for item in menu.items %}
                            <li>
                                <a href="{{ item.url }}" class="hover:text-gray-300 {{ item.current ? 'font-bold' : '' }}">
                                    {{ item.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </nav>
</header>
