<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>
    <meta charset="{{ site.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ function('wp_head') }}
</head>
<body class="{{ body_class }}" data-template="base.twig">

    {% include 'components/header.twig' %}

    <main class="site-main">
        {% block content %}
            {# Content will be inserted here #}
        {% endblock %}
    </main>

    {% include 'components/footer.twig' %}

    {{ function('wp_footer') }}
</body>
</html>
