<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>
    <meta charset="{{ site.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# Google Analytics (GA4) #}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4J2Y2V33VE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-4J2Y2V33VE');
    </script>

    {{ function('wp_head') }}
</head>
<body class="{{ body_class }}" data-template="base.twig">

    {% include 'components/header.twig' %}

    <main class="site-main pt-24">
        {% block content %}
            {# Content will be inserted here #}
        {% endblock %}
    </main>

    {% include 'components/footer.twig' %}

    {{ function('wp_footer') }}
</body>
</html>
